# -----------------------------
# NODE
# -----------------------------

node_modules/

npm-debug.log*

# -----------------------------
# ENV
# -----------------------------

.env

# -----------------------------
# RUNTIME STORAGE
# -----------------------------

runtime_storage/

storage/

# -----------------------------
# DATABASE
# -----------------------------

postgres_data/

# -----------------------------
# PLAYWRIGHT
# -----------------------------

playwright-report/

test-results/

# -----------------------------
# LOGS
# -----------------------------

logs/

*.log

# -----------------------------
# OS / EDITOR
# -----------------------------

.DS_Store

Thumbs.db

.vscode/

.idea/

# -----------------------------
# TEMP
# -----------------------------

tmp/

temp/

# -----------------------------
# DOCKER
# -----------------------------

*.pid